@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li {
    @apply px-3;
}

.header-color {
    background: #272757;
}

.bg-primary {
    background: #505081
}

.bg-secondary {
    background:  #8686AC
}

.mobile-nav {
    @apply fixed top-10 left-0 bg-gray-900 w-full h-1/4;
}

.mobile-nav li {
    @apply w-full h-full border-b-2 text-center
}

.projects-desc {
    @apply absolute left-0 right-0 bottom-0 top-0 bg-secondary opacity-0 duration-500 hover:opacity-100 
}

.btn{
    @apply bg-primary px-5 py-2 font-bold hover:border-2 border-white  rounded;
}

html {
    scroll-behavior: smooth;
}



.profile-image {
    width: 400px;         
    height: 500px;        
    border-radius: 100%;  
    object-fit: cover;    
    display: block;
    margin: 0 auto;      
  }
  